---
http_interactions:
- request:
    method: post
    uri: https://wwws.mint.com/loginUserSubmit.xevent
    body:
      encoding: US-ASCII
      string: username=test%40example.org&password=123456&task=L
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1426973204037'
      X-Mint-End:
      - '1426973204550'
      Content-Type:
      - text/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"countryId":1,"CSRFToken":"2017409IDrVJBiesQtT76RB8V3gGLRXcRKWbRWVk4FC9g","hasAccounts":false,"buildNumber":"ph6667.20","sUser":{"username":"test@example.org","shouldMigrate":true,"token":"2017409IDrVJBiesQtT76RB8V3gGLRXcRKWbRWVk4FC9g","zipcode":"08000","userId":2017409,"clientIntegrationType":"Mint","country":"US","productType":"FREE"},"clientBuildNumber":"spa47.14","supportedLocations":"\/(login|welcome|overview|transaction|planning|goal|trend|creditreport|save|oiiMigration).event","nickname":"","isCreditScoreRegistered":false,"omnitureData":{"fiName":"","userFICount":"0","userAgeRange":"","userLogin":"true","userCreditScore":"Unknown","productType":"FREE","userState":"","userLifetimeLogins":"6","userLoginDate":"03\/21\/2015
        02:26 PM","userGender":"","userMobilePlatform":"web only","userCountry":"United
        States","userCreateDate":"07\/11\/2008 09:48 AM","userSignup":"false","userLastLogin":"03\/21\/2015
        02:22 PM","userZip":"08000"},"showMigratePasswordPage":true,"isRefreshing":true}'
  recorded_at: Sat, 21 Mar 2015 21:26:44 GMT
- request:
    method: get
    uri: https://wwws.mint.com/transactionDownload.event
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1426973205185'
      X-Mint-End:
      - '1426973205193'
      Content-Disposition:
      - attachment; filename="transactions.csv"
      No-Store:
      - max-age=0
      Content-Type:
      - text/csv;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |
        "Date","Description","Original Description","Amount","Transaction Type","Category","Account Name","Labels","Notes"
        "5/01/2009","homestarrunner.com","FLUFFY PUFF MARSHMALLOWS","11.99","debit","Junk Food","QuesoCard","",""
  recorded_at: Sat, 21 Mar 2015 21:26:45 GMT
recorded_with: VCR 2.9.3
